body {
  margin: 0;
  font-family: "Courier New",Courier,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    monospace;
  
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef32d9, #89fffd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef32d9, #89fffd);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button{
	cursor:pointer;
}
